In [1]:
import pandas as pd

# Core Data Structures in Pandas
Pandas is built on two main data structures:

- Series → One-dimensional (like a single column in Excel)
- DataFrame → Two-dimensional (like a full spreadsheet or SQL table)

# Series — 1D Labeled Array
A Series is like a list with labels (index).

In [2]:
s = pd.Series([10, 20, 30, 40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
s1 = pd.Series([10, 20, 30], index=["a", "b", "c"])  # Custom index
s1

a    10
b    20
c    30
dtype: int64

# DataFrame — 2D Labeled Table
A DataFrame is like a dictionary of Series — multiple columns with labels.

In [5]:
data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35],
    "city": ["Delhi", "Mumbai", "Bangalore"]
}

df = pd.DataFrame(data)
print(df)

      name  age       city
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Bangalore

In [6]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [8]:
df.columns

Index(['name', 'age', 'city'], dtype='object')