In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("02data.csv")

In [4]:
df

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

# Selecting rows and columns

Selecting Columns

In [5]:
df['Actor'] # Case sensitive

0         Shah Rukh Khan
1            Salman Khan
2             Aamir Khan
3          Ranbir Kapoor
4          Ranveer Singh
5     Ayushmann Khurrana
6          Rajkummar Rao
7         Hrithik Roshan
8           Akshay Kumar
9          Kartik Aaryan
10          Varun Dhawan
11         Vicky Kaushal
Name: Actor, dtype: object

In [6]:
df['Actor'][7]

'Hrithik Roshan'

In [18]:
df[['Actor', 'IMDb']] # Returns the view of original data

                 Actor  IMDb
0       Shah Rukh Khan   7.2
1          Salman Khan   6.0
2           Aamir Khan   8.4
3        Ranbir Kapoor   5.6
4        Ranveer Singh   7.0
5   Ayushmann Khurrana   8.3
6        Rajkummar Rao   7.5
7       Hrithik Roshan   6.5
8         Akshay Kumar   7.0
9        Kartik Aaryan   5.9
10        Varun Dhawan   6.1
11       Vicky Kaushal   8.2

# Selecting rows by index

In [13]:
df.loc[3] # returns row accn to label

Actor                   Ranbir Kapoor
Film                       Brahmastra
Year                             2022
Genre                         Fantasy
BoxOffice(INR Crore)              431
IMDb                              5.6
Name: 3, dtype: object

In [29]:
df.loc[3:5]

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3

In [19]:
df.iloc[3] # returns row accn to it's position

Actor                   Ranbir Kapoor
Film                       Brahmastra
Year                             2022
Genre                         Fantasy
BoxOffice(INR Crore)              431
IMDb                              5.6
Name: 3, dtype: object

- Selecting multiple rows

In [17]:
df.iloc[2:5]

           Actor        Film  Year       Genre  BoxOffice(INR Crore)  IMDb
2     Aamir Khan      Dangal  2016   Biography                  2024   8.4
3  Ranbir Kapoor  Brahmastra  2022     Fantasy                   431   5.6
4  Ranveer Singh   Padmaavat  2018  Historical                   585   7.0

# Selecting specific Rows and Column

In [30]:
df.loc[8, 'IMDb'] # by label

np.float64(7.0)

In [27]:
df.iloc[7,3] # by position

'Action'

In [28]:
df.loc[3:6, ['Actor', 'IMDb']] # last label is included

                Actor  IMDb
3       Ranbir Kapoor   5.6
4       Ranveer Singh   7.0
5  Ayushmann Khurrana   8.3
6       Rajkummar Rao   7.5

In [37]:
df.iloc[3:6, [0,5]] # last porition/index is excluded

                Actor  IMDb
3       Ranbir Kapoor   5.6
4       Ranveer Singh   7.0
5  Ayushmann Khurrana   8.3

# For accessing a particular element

In [40]:
df.at[3,'Actor']

'Ranbir Kapoor'

In [41]:
df.iat[3,0]

'Ranbir Kapoor'

# Filtering Data

In [45]:
df[df["IMDb"] > 7]

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [46]:
df[df["IMDb"] > 7]['Actor']

0         Shah Rukh Khan
2             Aamir Khan
5     Ayushmann Khurrana
6          Rajkummar Rao
11         Vicky Kaushal
Name: Actor, dtype: object

In [48]:
df[(df["IMDb"] > 7) & (df['Year'] > 2016)] # AND Conditions

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [50]:
df[(df["IMDb"] > 7) | (df['Year'] > 2018)] # OR Conditions

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

# Using Query

- The .query() method in pandas lets you filter DataFrame rows using a string expression — it's a more readable and often more concise alternative to using boolean indexing.

This is a cleaner, SQL-like way to filter:

In [52]:
df.query("Year > 2018 and IMDb > 7")

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [53]:
df.query("Actor == 'Akshay Kumar'")

          Actor        Film  Year   Genre  BoxOffice(INR Crore)  IMDb
8  Akshay Kumar  Good Newwz  2019  Comedy                   318   7.0

In [54]:
# Dynamic column names:
col = 'Year'
df.query(f"{col} > 2019")

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9

- Use backticks for column names with spaces or special characters
If a column name has spaces, use backticks ( ` ):

In [55]:
# df.query("`first name` == 'Alice'")

- You can use @ to reference Python variables
  To pass external variables into .query():

In [56]:
Year = 2019
df.query("Year > @Year")

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9

# Logical operators in Query
- and, or, not — instead of &, |, ~
- ==, !=, <, >, <=, >=

In [57]:
# Chained comparisons
df.query("2018 < Year <=2022")

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

- Avoid using reserved keywords as column names
If you have a column named class, lambda, etc., you’ll need to use backticks:

- .query( ) returns a copy, not a view
The result is a new DataFrame. Changes won't affect the original unless reassigned: